<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<meta charset="UTF-8">
	<title>Liste des espèces</title>
</head>

<body>
	<h1>Liste des espèces</h1>

	<table class="mainTable">
		<thead>
			<tr>
				<th>Nom commun</th>
				<th>Nom latin</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="speciesList : ${speciesList}">
				<td th:text="${speciesList.commonName}" />
				<td th:text="${speciesList.latinName}" />
				<td><a th:href="@{'/species/' + ${speciesList.id}}">Mettre à jour</a></td>
				<td><a th:href="@{'/species/delete/' + ${speciesList.id}}"> Supprimer</a></td>			
			</tr>
		</tbody>
	</table>
	
	<button type="button" onclick="window.location='/species/create'">Créer une Espèce</button>
	<button type="button" onclick="window.location='/person'">Liste des personnes</button>
	<button type="button" onclick="window.location='/animal'">Liste des animaux</button>

</body>

</html>